{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/media.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
</head>
<body>
<header>
	<nav class="dws-menu">
		<input type="checkbox" name="toggle" id="menu" class="toggleMenu">
		<label for="menu" class="toggleMenu"><i class="fa fa-bars"></i>Меню</label>
		<ul>
			<li><a href="{% url 'index' %}">Главная</a></li>
			<li><a href="{% url 'sklad-view' %}">Склад</a></li>
			<li><a href="{% url 'tovar-view' %}">Товары</a></li>
			<li><a href="{% url 'postavka-view' %}">Поставки</a></li>
			<li><a href="{% url 'postavschik-view' %}">Поставщики</a></li>
		</ul>
	</nav>
</header>
	
    {% block content %}{% endblock %}
	
	<script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/packed.js' %}"></script>
    <script src="{% static 'js/script_for_all.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
</body>
</html>